.footer{
    background-color:#2e8d8b;
    display:flex;
    justify-content: center;
    padding: 5px;
}
.footer__text{
    color:white;
    font-size: 17px;
    margin-right:40px;
}
.footer__icon {
    padding: 0px 10px;
}

.footer__icon:hover{
    color:white;
    cursor:pointer;

}